
.OrderSummaryAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderSummaryMain {
  background-color: rgb(235, 235, 235);
  height: 360px;
  width: 300px;
  margin-right: 20px;
}

.OrderSummaryMain p {
  margin-left: 25px;
}

#summaryTotal {
  margin-top: 40px;
  margin-left: 200px;
}

.OrderSummaryAll button {
  margin-top: 20px;
  background-color: rgb(196, 40, 28);
  color: white;
  height: 34px;
  width: 184px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(200, 200, 200);
}

.OrderSummaryHeader {
  background-color: rgb(196, 40, 28);
  color: white;
  height: 30px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.OrderSummaryHeader h4 {
  margin: 0;
}
